<h1>Equipment</h1>
 
<table border="1">
{% for x in items %}
<tr>
   <td><a href="update/{{ x.id }}">update</a></td>
   <td>{{ x.id }}</td>
   <td>{{ x.invnumber }}</td>
   <td>{{ x.category }}</td>
   <td>{{ x.description }}</td>
   <td>{{ x.condition }}</td>
   <td>{{ x.checkedout }}</td>
   <td><a href="del_equip/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>
<p>
   <a href="add/">Add equipment</a>
   </p>

<h1>Loan Transactions</h1>

<table border="1">
{% for x in clients %}
<tr>
   <td><a href="update1/{{ x.id }}">update</a></td>
   <td>{{ x.id }}</td>
   <td>{{ x.first_name }}</td>
   <td>{{ x.last_name }}</td>
   <td>{{ x.phone_number }}</td>
   <td>{{ x.address }}</td>
   <td>{{ x.city }}</td>
   <td>{{ x.zip }}</td>
   <td>{{ x.date_out }}</td>
   <td>{{ x.date_in }}</td>
   <td>{{ x.equip_id }}</td>
   <td><a href="del_client/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>
<p>
   <a href="add1/">Add Transaction</a>
   </p>
