{% load static %}
<img src="{% static 'BIAW_Logo.png' %}" width="170">

<style>
   .fixed_header tbody {
      display:block;
      #table-layout: fixed;
      overflow:auto;
      height:150px;
      #width:100%;
    }
    .fixed_header thead {
      display:block;
      #table-layout: fixed;
    }
</style> 

<h1>Equipment</h1>
<table class = "fixed_header", border="1">
<thead>
<tr>
   <th>_____</th>
   <th> Equip ID</th>
   <th> Inventory Number </th>
   <th> Category________</th>
   <th> Description________________ </th>
   <th> Condition___ </th>
   <th> Status______ </th>
</tr> 
</thead>
<tbody>
{% for x in items %}
<tr>
   <td><a href="update/{{ x.id }}">update</a></td>
   <td style = "width: 60px">{{ x.id }}</td>
   <td style = "width: 130px">{{ x.invnumber }}</td>
   <td style = "width: 130px">{{ x.category }}</td>
   <td style = "width: 200px">{{ x.description }}</td>
   <td style = "width: 100px">{{ x.condition }}</td>
   {%if x.checkedout%}
      <td><a href="display_client/{{ x.id }}">{{'Checked Out'}}</a></td>
   {%else%}
      <td>{{ "Available" }}</td>
   {%endif%}
   <td><a href="del_equip/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<p>
   <a href="add/">Add equipment</a>
   </p>

<h1>Equipment Loans</h1>

<table class = "fixed_header", border="1">
<thead>
<tr>
   <th></th>
   <th>______</th>
   <th> First Name_____ </th>
   <th> Last Name______ </th>
   <th> Phone________ </th>
   <th> Address________________ </th>
   <th> City______ </th>
   <th> Zip__ </th>
   <th> Date Out___ </th>
   <th> Date In____ </th>
   <th> Equip ID </th>
</tr> 
</thead>
<tbody>
{% for x in clients %}
<tr>
   <td><a href="update_loan/{{ x.id }}">update</a></td>
   <td>{{ x.id }}</td>
   <td style = "width: 120px">{{ x.first_name }}</td>
   <td style = "width: 120px">{{ x.last_name }}</td>
   <td style = "width: 105px">{{ x.phone_number }}</td>
   <td style = "width: 180px">{{ x.address }}</td>
   <td style = "width: 80px">{{ x.city }}</td>
   <td>{{ x.zip }}</td>
   <td>{{ x.date_out }}</td>
   {%if x.date_in is not None%}
      <td>{{ x.date_in }}</td>
   {%else%}
      <td>{{"Checked Out"}}
   {%endif%}
   <td style = "width: 60px"><a href="display_loan/{{ x.equip_id }}">{{x.equip_id}}</a></td>
   <td><a href="del_client/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<p>
   <a href="add_loan/">Add New Loan</a>
   </p>
