<h1>Update Clients</h1>
 
<form action="updaterecord1/{{ clients.id }}" method="post">
{% csrf_token %}
Client ID:<br>
<input name="clientID" value="{{ clients.clientID }}">
<br><br>
First Name:<br>
<input name="first_name" value="{{ clients.first_name }}">
<br><br>
Last Name:<br>
<input name="last_name" value="{{ clients.last_name }}">
<br><br>
Phone Number:<br>
<input name="phone_number" value="{{ clients.phone_number }}">
<br><br>
Address:<br>
<input name="address" value="{{ clients.address }}">
<br><br>
City:<br>
<input name="city" value="{{ clients.city }}">
<br><br>
Zip Code:<br>
<input name="zip" value="{{ clients.zip }}">
<br><br>

<input type="submit" value="Submit">
</form>