<h1>Update Transaction</h1>
 
<form action="updaterecord1/{{ clients.id }}" method="post">
{% csrf_token %}
First Name:<br>
<input name="first_name" value="{{ clients.first_name }}">
<br><br>
Last Name:<br>
<input name="last_name" value="{{ clients.last_name }}">
<br><br>
Phone Number:<br>
<input name="phone_number" value="{{ clients.phone_number }}">
<br><br>
Address:<br>
<input name="address" value="{{ clients.address }}">
<br><br>
City:<br>
<input name="city" value="{{ clients.city }}">
<br><br>
Zip Code:<br>
<input name="zip" value="{{ clients.zip }}">
<br><br>
<input name="email" value="{{ clients.email}}">
<br><br>
Date checked out:<br>
<input name="date_out" value="{{ clients.date_out }}">
<br><br>
Date checked in:<br>
<input name="date_in" value="{{ clients.date_in }}">
<br><br>
Equipment ID:<br>
<input name="equip_id" value="{{ clients.equip_id }}">
<br><br>
<input type="submit" value="Submit">
</form>